/* TEXTOS */
.txt-c{
    justify-content: center;
}

.txt-j{
    text-align: justify;
}


/* FLEX */

.flex{
    display: flex;
}

.flex-c{
    display: flex;
    justify-content: center;
}

.flex-sa{
    display: flex;
    justify-content: space-around;
}

flex-sb{
    display: flex;
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction:column;
}


.flex-col-c{
    display: flex;
    flex-direction: column;
    align-items: center ;
    
}


.flex-col-sa{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}



.flex-col-c{
    display: flex;
    flex-direction: column;
    
    
}





/* MARGENES */

/* Margin  */
.m-1{
    margin:10px;
}
.m-2{
    margin:20px;
}
.m-3{
    margin:30px;
}
.m-4{
    margin:40px;
}
.m-5{
    margin:50px;
}

/* Margin top */

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

/* Margin left */


.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

/* Margin bottom */
.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

/* Margin top - bottom */

.mtb-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtb-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mtb-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mtb-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mtb-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Margin left - right */

.mlr-1 {
    margin: 0px 10px;
}

.mlr-2 {
    margin: 0px 20px;
}

.mlr-3 {
    margin: 0px 30px;
}

.mlr-4 {
    margin: 0px 40px;
}

.mlr-5 {
    margin: 0px 50px;
}

/* PADDING */

.p-1{
 padding: 10px;
}

.p-2{
padding: 20px;
}

.p-3{
padding: 30px;
}

.p-4{
padding: 40px;
}

.p-5{
padding: 50px;
}

/* padding - right */

.pr-1{
    padding-right: 10px;
   }
   
   .p-2{
   padding-right: 20px;
   }
   
   .p-3{
   padding-right: 30px;
   }
   
   .p-4{
   padding-right: 40px;
   }
   
   .p-5{
   padding-right: 50px;
   }
   


/* padding -left */


.pl-1{
    padding-left: 10px;
   }
   
.pl-2{
   padding-left: 20px;
}
   
.pl-3{
   padding-left: 30px;
}
   
.pl-4{
   padding-left: 40px;
}
   
.pl-5{
   padding-left: 50px;
}
   
/* padding top - bottom */
  
.ptb-1{
    padding: 10px 0px;
   }
   
   .ptb-2{
   padding: 20px 0px;
   }
   
   .ptb-3{
   padding: 30px 0px;
   }
   
   .ptb-4{
   padding: 40px 0px;
   }
   
   .ptb-5{
   padding: 50px 0px;
   }

   /* padding left - right */
  
  .plr-1{
    padding: 0px 10px;
  }
   
   .plr-2{
   padding: 0px 20px;
   }
   
   .plr-3{
   padding: 0px 30px;
   }
   
   .plr-4{
   padding: 0px 40px;
   }
   
   .plr-5{
   padding: 0px 50px;
   }


/* WIDTHS */

.w-100{
    width: 100%;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}

.w-25{
    width: 25%;
}

/* HEIGHTS */

.h-100{
    height: 100%;
}

.h-75{
    height: 75%;
}

.h-50{
    height: 50%;
}

.h-25{
    height: 25%;
}





/* BOTONES */



/* Botones linea */

.btn-ln-lilac{
    border: 1px solid #a24fa8;
    background-color: #ffffff00;
    color: #a24fa8;
    transition: all ease 0.3s;
    color: #a24fa8;
}

.btn-ln-lilac:hover{
    background-color: #a24fa8;
    color:white;
}


